.details__box {
    width: 65%;
}

.details__box div {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
}

.details__box img {
    width: 500px;
    height: 500px;
}

.details {
    font-size: 26px;
    color: #333;
    padding: 20px;
    border-bottom: 1px solid #999;
}

.name {
    font-size: 28px;
}